*.o
*.r
*.d
*.gcno
*.so
*.a
*.guard
*.checksum
*.run

test/project/a/program_a
test/project/a/test_dupl
test/project/b/program_b
test/project/c/test_cc
test/project/e/program_e
test/project/e/test_program
test/project/program
test/project/f/test_shared
test/project/g/zlib_test
test/project/h/test_sbin
