*.o
*.r
*.d
*.gcno
*.so
*.guard
*.sha1
*.run

test/a/main
test/b/main
test/c/test_cc
test/main
test/e/program
test/e/test_program
test/a/program_a
test/a/test_dupl
test/a/test_main
test/b/program_b
test/e/program_e
test/program
